@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Domine:wght@500&family=Open+Sans:ital,wght@0,300;1,800&display=swap');

@layer components{

  .sidebar-icon{

    @apply relative  flex items-center justify-center h-9 w-9 mt-2 mb-2 mx-auto  bg-gray-700 text-white  hover:bg-violet-600 hover:rounded-md hover:delay-200

  }
  
}

body {
  font-family: 'Domine', serif;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}




